{
  "extends": "airbnb",
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-no-bind": 0,
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore",
    }]
  }
}
