<div class="photo-strip">
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }

    .photo-strip {
      display: block;
      margin: 0 auto;
      width: 260px;
    }

    img {
      box-sizing: border-box;
      margin: 5px 5px 0;
    }

    .wicked {
      font-size: 3em;
      margin-top: 0.4em;
      text-align: center;
    }
  </style>
  {{#each photos}}
    <img src="{{../photoBase}}{{this.file_name}}" width="250">
  {{/each}}
  <p class="wicked">{{bottomText}}</p>
</div>
